* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none; 
    
}
a {
text-decoration: none;
color:white;
}

.container {
    
    scrollbar-width: none;
}
 body::-webkit-scrollbar {
    display: none; 
 }

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.712);
    font-weight: 700;
    
   
}
.navbar ul {
    margin:0;
    padding: 0;
    list-style-type: none;
   
    align-items: center;
}

.navbar li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;

}

.navbar li:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
}

.navbar .logo {
    display: block;
    padding: 25px;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar .nav-items {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      text-align: center;
      padding: 14px 16px;
      font-size: 35px;
    }
  }

 
  

.main {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size:cover;;
}

.main-text h1 {
    font-size: 8vw;
    text-align: center;
    font-weight: 900;
    color: white;
    margin-bottom: 5%;
}

.main-section {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100vh;
    
}

.main-text {
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
    color: white;
    font-size: 2.5vh;
}

.main-text p {
    text-align: center;
}

.buttons-main {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 833px) {
    .buttons-main button {

        margin: 25px;   
    }
}

.buttons-main button:hover {
    border: solid white 3px;
    background-color: white;
    color: black;
    
}

.buttons-main button {
    background-color: transparent;
    border: solid white 3px;
    cursor: pointer;
    font-size :25px;
    padding:15px ;
    width: 250px;
    color: white;
}

.services {
    height: 100%;
    margin-bottom: 40%;
}

.services h1 {
    font-size: 5.5vw;
    text-align: center;
    padding: 5%;
}

.service-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
   
}

.title-here {
    display: flex;
    align-items:center;
    flex-direction:column ;
    border:black solid 3px;
    width: 300px;
    height: 480px;
    
}

h2 {
    text-align: center;
    margin:10%;
    padding-top: 10%;
}

.title-here p {
    font-size: 16px; 
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .title-here {
     margin: 25px;
    }
}

.title-here button {
    background-color: transparent;
    border: solid black 3px;
    cursor: pointer;
    font-size :25px;
    padding:15px ;
    width: 250px;
    color:black;
    margin-top: 50px;

}

.title-here button:hover {
    background-color: black;
    color: white;
}

footer {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    height: 135px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    overflow: hidden;
  }

  .copyright {
      margin-right: 50px;
  }

  footer ul {
      list-style: none;
      margin: 50px;
      justify-content: space-between;
  }

  footer li {
      display: inline;
      margin-left: 10px;
      margin-right: 10px;

  }